.recom {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 7px;
    padding-right: 67px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #081A29;

    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.mobilerecom {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 10px;
    background: #081A29;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
    padding-bottom: 20px;
}

.recom .entry p {
    margin-bottom: 1%;
}

.recom .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F1D27D;
    font-size: 36px;
    font-family: "Playfair Display";
}

.mobilerecom .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F1D27D;
    font-size: 26px;
    font-family: "Playfair Display";
}

.recom .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 62px;
    align-items: center;
    justify-content: center;
}

.mobilerecom .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.recom .entry {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: "Lora";
    font-size: 24px;
}

.mobilerecom .entry {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: "Lora";
    font-size: 18px;
}

.mobilerecom .entry p {
    margin: 0;
    max-width: 100px;
    line-height: 14px;
}

.mobilerecom .midtext {
    /* padding-bottom: 15px; */
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recom .entry img {
    width: 200px;
    height: 125px;
}

.mobilerecom .entry img {
    width: 100px;
    height: 100px;
}